@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

img {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.selection div:hover {
  transform: scale(1.4);
}

.insight {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-family: "pre";
}

.insight span {
  font-size: 30px;
}

.discription {
  margin-top: 10px;
  text-align: right;
  margin-right: 30px;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1.8px);
  width: 100vw;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-container .logo {
  display: flex;
  color: white;
  align-items: center;
  padding-bottom: 6px;
}
ul.years {
  display: flex;
  gap: 40px;
}

ul.years li {
  cursor: pointer;
  padding: 3px 0;

  &:hover {
    display: block;
    transition: 2s;
    border-bottom: 1px solid white;
  }
}
